---
import '../styles/global.css';
import '../styles/projectPage.css';
import Header from '../components/Header.astro';

const { frontmatter } = Astro.props;
const { title, subtitle, description, category, tags, image, attachments } = frontmatter || {};

// Map category names to CSS classes
const getCategoryClass = (category: string): string => {
  const categoryMap: { [key: string]: string } = {
    'Rethinking Pathways to Success': 'pathways',
    'Place-Based Education': 'placeBased',
    'Technology and Educational Equity': 'techEquity',
  };
  return categoryMap[category] || '';
};

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
	<Header />
    <main>
        
        <div class="projectHeader">
            
            <div class="projectHeaderText">
            
            <a href="../" class = "backButton">← Back to Projects</a>
            <h3>{title}</h3>
            {subtitle && <h4>{subtitle}</h4>}
            {description && <p>{description}</p>}
            
            {attachments && <a href={attachments} target="_blank" class="viewProjectButton">View full project (pdf) ↗︎</a>}
        </div>
        <!-- 
        
        -->
            <div class="projectHeaderImage">
                {image && image.src && <img src={image.src} alt={image.alt} />}
                
            </div>
        </div>
        <div class="projectContainer">
            <div class = "projectMetaData">
                <h2>Overview</h2>
                <p>Focus Area</p>
                {category && category.length > 0 && (
                <div class="headerProjectCategory">
                    {category.map((cat: string) => <p class={`headerCategory ${getCategoryClass(cat)}`}>{cat}</p>)}
                </div>
            )}
            <p>Skills</p>
        {tags && tags.length > 0 && (
                <div class = "projectTags">
                    {tags.map((tag: string) => <p class="tag">{tag}</p>)}
                </div>
            )} 
            </div>
            <div class = "projectText">
                <slot />
            </div>
        </div>
    </main>
    </body>
</html>